@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300;400;500;600&display=swap');
.desc-container {
    min-height: 100vw;
    width: 100%;
    background:#fff;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 100px;
}
.desc-container .location{
    width: 100%;
    color: #333;
    margin-top: 100px;
}
.location h1{
    text-align: center;
    text-transform: uppercase;
}
.desc-wrap {
    /* max-width: 1300px; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
}
.desc-wrap .desc-info{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid gray;
    padding-top: 30px;
}
.desc-info .title {
    width: 100%;
    color:#333;
    text-decoration:none;
    margin-bottom: 10px;
}
.title h1{
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;
}
.desc-info img {
    width: 100%;
    height: 500px;
}
.desc-info .date {
    width: 100%;
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}
.desc-info .text {
    width: 100%;
    margin-top: 30px;
    color: #333;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
}
.btn-desc {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 30px;
}
.btn-desc button {
    padding: 15px 20px;
    color:#333;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid gray;
    cursor: pointer;
}
.btn-desc button:hover {
    background-color: #333;
    color:#fff;
    transition: 0.3s ease;
}